{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
        "react"
    ],
    "plugins": [
      "react-hot-loader/babel",
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true // `style: true` 会加载 less 文件
        }]
    ],
    "env": {
        "test": {
            "presets": ["es2015", "stage-0","react"],
            "plugins": [
                [ "babel-plugin-webpack-alias", { "config": "./conf/webpack.config.js" } ]
            ]
        }
    }
}
