.left-td {
    min-width: 7em;
    padding-right: 1em;
    text-align: left;
}

.right-td {
    text-align: left;
}

.tx_operation{

    table{
        margin-left: 12px;

        td{
            font-size: 14px;

            &:first-child, &:last-child{
                display: none;
            }
        }
    }
}