.footer {
    @include RobotoRegular;
    text-transform: lowercase;
    font-variant: small-caps;
    align-items: center;

    .grid-block{
        overflow: hidden;
    }

    .txtlabel{
        font-size: 0.85rem;
    }

    div.footer-status {
        display: none;
        position: absolute;
        right: 0;
        > span {
            position: relative;
            top: -9px;
        }
    }
    div.footer-block {
        font-size: 0.85rem;
        color: #999;
    }
    background-color: #777;
    height: 59px;
    vertical-align: middle;
    color: #fff;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    a {
        text-decoration: underline;
    }

    .logo {
        display: flex;
        align-items: center;

        .version {
            font-size: 75%;
            vertical-align: baseline;
        }
    }

    > div > div:last-of-type {
        margin-right: 46px;
    }

    .introjs-launcher{
        display: none;
    }
}

.logo svg {
    width: 1.75rem !important;
    height: 1.75rem !important;
}
