.footer {
    @include RobotoRegular;
    text-transform: lowercase;
    font-variant: small-caps;
    div.footer-status {
        display: none;
        position: absolute;
        right: 0;
        > span {
            position: relative;
            top: -9px;
        }
    }
    div.footer-block {
        position: relative;
        bottom: 0;
        > span {
            position: relative;
            top: 7px;
            font-size: 0.95rem;
            color: #999;
            > .footer-block-title {
                font-size: 0.85rem;
            }
        }
    }
    background-color: #777;
    height: 59px;
    line-height: 36px;
    vertical-align: middle;
    color: #fff;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    a {
        text-decoration: underline;
    }

    .logo {
        display: flex;
        align-items: center;

        .version {
            font-size: 75%;
            vertical-align: baseline;
        }
    }

    > div > div:last-of-type {
        margin-right: 46px;
        .footer-block{
            top:5px;
        }
    }

    .introjs-launcher{
        display: none;
    }
}

.logo svg {
    width: 1.75rem !important;
    height: 1.75rem !important;
}
