.account_room_create {
  .room-table {
    > tbody > tr {
      > td:first-child {
        padding-right: 2em;
      }
      > td:last-child {
        padding-left: 2em;
      }
    }
  }
  .label-text {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 21px;

    i {
      font-style: normal;
      color: #FF972B;
      margin-left: 6px;
    }
  }

  button.btn-room-type {
    color: #666 !important;
    font-size: 14px !important;
    width: 200px;
    height: 50px;
    outline: none;

    &:not(.outline) {
      color: #fff !important;
    }
  }

  input[type="text"], select {
    font-size: 14px;
    color: #666;
    height: 50px !important;
    line-height: 50px !important;
    margin: 0 !important;
  }

  .unit-input input {
    height: 48px !important;
    line-height: 48px !important;
  }

  select {
    background-color: #fff;
    padding: 0 0.5em;

    &:hover {
      background-color: #fff;
    }
  }

  textarea {
    height: 120px !important;
    width: 100% !important;
    font-size: 14px;
    color: #666;
    resize: none;
  }

  .label-panel {
    height: 120px !important;
    width: 100% !important;
    border: 1px solid #DCDCDC;
    padding: 6px;
  }

  button.btn-add-label {
    font-size: 16px !important;
    padding: 0 !important;
    width: 22px !important;
    height: 22px !important;
    margin-left: 9px;
    outline: none;
  }

  .room-label {
    display: inline-block;
    border: 1px solid #DCDCDC;
    padding: 5px 11px;
    margin-right: 10px;
    border-radius: 13px;
    user-select: none;
    font-size: 14px;
    background: #efefef;
  }

  .option-types{
    text-align: center;
    margin: 50px 0;

    .button{
      width: 450px;
      height: 40px;
      padding: 0!important;
      background: #F3F3F3;
      color: #666;
      font-weight: bold;
      margin: 0;

      &:hover, &:focus, &:active {
        background-color: darken(#F3F3F3, 4%) !important;
      }

      &.checked{
        background: #449E7B;
        color: #fff;
        &:hover, &:focus, &:active {
          background-color: lighten(#449E7B, 4%) !important;
        }
      }
    }
  }

  .room-option-group-item {

    .add-option{
      margin: 20px 0;
      >span{
        font-size: 14px;
        color: #666;
        font-weight: bold;
      }

      button{
        width: 30px;
        height: 30px;
        font-size: 18px;
        padding: 0!important;
        margin: 0 0 0 14px;
      }
    }

    .room-options {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .option-item {
        width: calc(50% - 35px);
        height: 52px;
        border: 1px solid #DCDCDC;
        display: flex;
        margin-bottom: 28px;

        input {
          flex: 1;
          border: none;
          height: 100%;

          &:nth-child(2) {
            border-left: 1px solid #dcdcdc;
          }
        }

        button {
          width: 57px;
          font-size: 14px;
          color: #449E7B;
          border-left: 1px solid #dcdcdc;
          background: #fff;
          outline: none;

          &:hover {
            background: #f8f8f8;
          }
        }

        //前两项不显示删除按钮
        &:first-child,&:nth-child(2){
          button{
            //display: none;
          }
        }
      }
    }
  }

  .super-options{
    .super-options-group{
      background: #F3F3F3;
      padding: 30px 20px 20px 20px;
      margin-bottom: 34px;
    }

    .option-group-action-btn{
      height: 40px;
      padding: 0 7px!important;
      display: flex;
      align-items: center;
      margin: 0;

      span{
        font-size: 14px;

        &:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          color: #449E7B;
          width: 26px;
          height:26px;
          background: #fff;
          margin-right: 9px;
        }
      }
    }
  }

  .room-option-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
    hr{
      flex:1;
      background: #afafaf!important;
      border:none;
      height: 3px;
    }
    span{
      display: inline-block;
      padding: 0 12px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
  }
}