@import "theme-template";

// variables

//
$primary-highlight-color:#449E7B;
//
$primary-text-color: #222222;
$secondary-text-color: #999;
$inactive-text-color: lighten($primary-text-color, 25%);
$light-text-color: #3d3d3d;
$dark-text-color: lighten($light-text-color, 12%);
$link-text-color: #449E7B;
$error-text-color: #E3745B;

$settings-select-bg: #fff;
$settings-select-color: #333;
$settings-api-node-border-color: #e6e6e6;
$main-content-margin-block-bg-color: #f8f9f8;
$bg-color: #FFF;
$panel-bg-color: #F8F8FA;
$light-panel-bg-color: #FFF;
$super-light-panel-bg-color: darken($light-panel-bg-color, 1%);
$settings-menu-hover-bg: darken($light-panel-bg-color, 10%);
$settings-menu-active-bg: darken($light-panel-bg-color, 10%);
$button-bg-color: $primary-highlight-color;
$secondary-button-bg-color: #999999;
$input-background: #FFF;
$input-border:#DCDCDC;

$alert-color: $error-text-color;
$info-color: #449E7B;
$success-color: #21D19F;
$warning-color: #f35b92;
$fee-color: #7f055e;

// Exchange colors
$bid-color: #4EA382;
$ask-color: #EC5857;
$call-color: #BBBF2B;
$positive-color: #528c0a;
$negative-color: rgba(225, 66, 74, 1);
$row-accent-color: #FFFFFF;
$header-color: #DCDCDC;

// Account table view colors
$account-header: #ffffff;
$account-cells: #ffffff;
$account-green: #488a00;
$account-primarytext: #666666;
$account-dimmed: #666666;
$account-border: #EFEFEF;
$account-background: #ffffff;
$account-tabs-background: #d5d6d4;

$pulsate-green-start:$account-green;
$pulsate-green-end:#70c117;
$pulsate-red-start:$negative-color;
$pulsate-red-end:#e87f84;

.lightTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $inactive-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color,
    $input-background,
    $account-header,
    $account-cells,
    $account-green,
    $account-primarytext,
    $account-dimmed,
    $account-border,
    $account-background,
    $account-tabs-background,
    $pulsate-green-start,
    $pulsate-green-end,
    $pulsate-red-start,
    $pulsate-red-end,
    $settings-select-bg,
    $settings-select-color,
    $settings-menu-hover-bg,
    $settings-menu-active-bg,
    $settings-api-node-border-color,
    $main-content-margin-block-bg-color,
    $primary-highlight-color,
    $input-border
  );

  .change-up {
      font-weight: bold;
  }
}
